1.Print first and last name in reverse order with a space between them

In [3]:
a=input('enter first name')
b=input('enter last name')
c=a+b
print(c[::-1])

enter first nameaksh
enter last namegs
sghska

2.Generate a list and tuple with comma-separated numbers

In [5]:
a=(input('enter coma separted values'))
li=a.split(',')
print(list(li))
print(tuple(li))

enter coma separted values1,2,3,4,5,6
['1', '2', '3', '4', '5', '6']
('1', '2', '3', '4', '5', '6')

3.Calculate the sum of three given numbers, if the values are equal then return thrice of their sum

In [5]:
a=int(input('enter a number'))
b=int(input('enter a number'))
c=int(input('enter a number'))
sum=a+b+c
if a==b==c:
    sum=sum*3
    print(sum)

enter a number1
enter a number1
enter a number1
9

4.Get a single string from two given strings, separated by a space and swap the first two characters of each string

In [2]:
a='hello'
b='world'
print(a,b)
a1=b[:2]+a[2:]
b1=a[:2]+b[2:]
print(a1,b1)

hello world
wollo herld

5.Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2.

In [6]:
l1=set(['red','blue','green','black'])
l2=set(['white','blue','brown'])
print(l1.difference(l2))
print(l2.difference(l1))

{'green', 'black', 'red'}
{'white', 'brown'}

7.Convert a given string into a list of words

In [7]:
a='akash'
print(list(a))

['a', 'k', 'a', 's', 'h']

8.Write a Python function to multiply all the numbers in a list.

In [11]:
a=[1,2,3,5,6,7,8]
li=list(map(lambda x:x*x,a))
print(li)

[1, 4, 9, 25, 36, 49, 64]

9.Find common items from two lists

In [12]:
a=[1,2,3,4,5,6,7,8,9,10]
b=[2,4,6,8,10,12,14,16,18]
x=set(a)
y=set(b)
n=x.intersection(y)
print(list(n))

[2, 4, 6, 8, 10]