In [3]:
#dictinory
a={'deve':21,'egg':12,'kik':32}
print(a['egg'])
print(a['kik'])

12
32

In [4]:
a=dict({'n':1,'b':4,'c':5})
print(a)

{'n': 1, 'b': 4, 'c': 5}

In [5]:
b={1:1,'null':23,3:3,4:9}
b[6]=12
b['mud']=10
print(b)

{1: 1, 'null': 23, 3: 3, 4: 9, 6: 12, 'mud': 10}

In [11]:
num={'one':1,'two':2,'three':3}
print(not 4 in num)
print(1 in num)
print('two'in num)
print(not 'one'in num)

True
False
True
False

In [16]:
p={1:'apple','orange':[2,3,4],'pipe':34}
print(p.get('orange'))
print(p.get(34))
print(p.get(23))
p.update({'white':3})
print(p)

[2, 3, 4]
None
None
{1: 'apple', 'orange': [2, 3, 4], 'pipe': 34, 'white': 3}

In [18]:
dic={'dell':3,'ble':7,'black':34,1:45,44:43}
dic.pop(44)
print(dic)
dic.popitem()
print(dic)

{'dell': 3, 'ble': 7, 'black': 34, 1: 45}
{'dell': 3, 'ble': 7, 'black': 34}

In [22]:
b='soap','one','word'
print(type(b))
c='kic','bad'
print(b+c)
print(len(c))
print(b[1])

<class 'tuple'>
('soap', 'one', 'word', 'kic', 'bad')
2
one

In [43]:
a={'set',1,3,'give','dot'}
print(type(a))
b={}
print(type(b))
b=set()
print(type(b))
c={1,2,3,4,5}
print(not 2 in c)
print(5 in c)
c.update((6,7,8))
print(c)
c.update('black')
print(c)

<class 'set'>
<class 'dict'>
<class 'set'>
False
True
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'k', 'c', 'b', 'l'}

In [3]:
#list slice
s=[1,2,3,4,5,6,7,8,9,10]
print(s[2:6])
print(s[:4])
print(s[2:])

[3, 4, 5, 6]
[1, 2, 3, 4]
[3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
b=[1,2,3,4,5,6,7,8,9,10]
print(b[2:7:2])
print(b[2::2])
print(b[::-1])
print(b[-5:-2])
print(b[-1:-9])

[3, 5, 7]
[3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[6, 7, 8]
[]

In [3]:
b=[1,2,3,4,5,6,7,8,9,10]
print(b[-9:-1:2])

[2, 4, 6, 8]

In [18]:
b=[1,2,3,4,5,6,7,8,9,10]
print(b[-9:-1:2])

[2, 4, 6, 8]

In [22]:
b="helloworld"
print(b[2:5])
print(b[:6])
print(b[2:])

llo
hellow
lloworld

In [24]:
#list compherhention
bo=[i**3 for i in range(5)]
print(bo)

[0, 1, 8, 27, 64]

In [26]:
even=[i for i in range(10)if i%2==0]
print(even)

[0, 2, 4, 6, 8]

In [27]:
q=[i**2 for i in range(10)if i%2==0]
print(q)

[0, 4, 16, 36, 64]

In [29]:
eg=[i for i in range(10) if i<=5]
print(eg)

[0, 1, 2, 3, 4, 5]

In [42]:
ep=[i for i in range(20) if i>10]
print(ep)

[11, 12, 13, 14, 15, 16, 17, 18, 19]

In [32]:
fp=['apple','bannana','chille','mango']
new=[]
for i in fp:
    if 'a' in i:
        new.append(i)
print(new)

['apple', 'bannana', 'mango']

In [35]:
fp=['apple','bannana','chille','mango']
n=[i for i in fp if 'a' in i]
print(n)

['apple', 'bannana', 'mango']

In [41]:
fp=['apple','bannana','chille','mango']
n=[i.upper() for i in fp ]
print(n)

['APPLE', 'BANNANA', 'CHILLE', 'MANGO']

In [45]:
#string formating
a='my name is {fname} my age is {age} '.format(fname='ravi',age=23)
print(a)

my name is ravi my age is 23

In [48]:
a='my name is {0} my age is {1}'.format('Ravi',23)
print(a)

my name is Ravi my age is 23

In [50]:
num=[4,5,6]
m='number: {0}{1}{2}'.format(num[0],num[1],num[2])
print(m)

number: 456

In [53]:
print(','.join(['apps','spam','ham']))

apps,spam,ham

In [54]:
print('HELLO me'.replace('me','AKASH'))

HELLO AKASH

In [58]:
print('hey guyz my name is v.'.startswith('hey'))
print('hey guyz my name is v.'.endswith('v.'))

True
True

In [59]:
print('spam,eggs,ham'.split(','))

['spam', 'eggs', 'ham']

In [63]:
# any,all,enumerate
num=[55,44,33,22,11]
if all([i>5 for i in num]):
    print('all large')
if any([i%2==0 for i in num]):
    print('at least one is even')
for v in enumerate(num):
    print(v)

all large
at least one is even
(0, 55)
(1, 44)
(2, 33)
(3, 22)
(4, 11)

In [2]:
#generetor
def mygenerate():
    print('first item')
    yield(10)
    
    print('second item')
    yield(20)
    
    print('last item')
    yield(30)
for i in mygenerate():
    print(i)

first item
10
second item
20
last item
30

In [7]:
def get(x):
    for i in range(x):
        yield(i)
seq=get(5)
for i in seq:
    print(i)

0
1
2
3
4

In [1]:
#recuration
def factorial(x):
    if x==1:
        return 1
    else:
        return x* factorial(x-1)
print(factorial(5))

120

In [3]:
#pure funtion
def pure_funtion(x,y):
    temp=x+2*y
    return temp /(2*x+y)
print(pure_funtion(2,3))

1.1428571428571428

In [4]:
#im pure funtion
a=[]
def impure_funtion(arg):
    a.append(arg)
    return a
print(impure_funtion(6))

[6]

In [6]:
#itertools
from itertools import count
for i in count(2,2):
    print(i)
    if i>=12:
        break

2
4
6
8
10
12

In [11]:
import itertools
for i in itertools.count(2,2):
    print(i)
    if i>=17:
        break

2
4
6
8
10
12
14
16
18

In [9]:
#itertools accumulate
from itertools import accumulate
n=list(accumulate(range(8)))
print(n)

[0, 1, 3, 6, 10, 15, 21, 28]

In [2]:
# takewhile
from itertools import takewhile
b=[1,2,3,4,5,6,7]
print(list(takewhile(lambda x:x<=6,b)))

[1, 2, 3, 4, 5, 6]

In [4]:
#product
from itertools import product
le=('x','y')
print(list(product(le,range(3))))

[('x', 0), ('x', 1), ('x', 2), ('y', 0), ('y', 1), ('y', 2)]

In [5]:
#permution
from itertools import permutations
be=('a','b')
print(list(permutations(be)))

[('a', 'b'), ('b', 'a')]

In [7]:
from itertools import permutations
le='akash'
print(list(permutations('akash',4)))

[('a', 'k', 'a', 's'), ('a', 'k', 'a', 'h'), ('a', 'k', 's', 'a'), ('a', 'k', 's', 'h'), ('a', 'k', 'h', 'a'), ('a', 'k', 'h', 's'), ('a', 'a', 'k', 's'), ('a', 'a', 'k', 'h'), ('a', 'a', 's', 'k'), ('a', 'a', 's', 'h'), ('a', 'a', 'h', 'k'), ('a', 'a', 'h', 's'), ('a', 's', 'k', 'a'), ('a', 's', 'k', 'h'), ('a', 's', 'a', 'k'), ('a', 's', 'a', 'h'), ('a', 's', 'h', 'k'), ('a', 's', 'h', 'a'), ('a', 'h', 'k', 'a'), ('a', 'h', 'k', 's'), ('a', 'h', 'a', 'k'), ('a', 'h', 'a', 's'), ('a', 'h', 's', 'k'), ('a', 'h', 's', 'a'), ('k', 'a', 'a', 's'), ('k', 'a', 'a', 'h'), ('k', 'a', 's', 'a'), ('k', 'a', 's', 'h'), ('k', 'a', 'h', 'a'), ('k', 'a', 'h', 's'), ('k', 'a', 'a', 's'), ('k', 'a', 'a', 'h'), ('k', 'a', 's', 'a'), ('k', 'a', 's', 'h'), ('k', 'a', 'h', 'a'), ('k', 'a', 'h', 's'), ('k', 's', 'a', 'a'), ('k', 's', 'a', 'h'), ('k', 's', 'a', 'a'), ('k', 's', 'a', 'h'), ('k', 's', 'h', 'a'), ('k', 's', 'h', 'a'), ('k', 'h', 'a', 'a'), ('k', 'h', 'a', 's'), ('k', 'h', 'a', 'a'), ('k', 'h', 'a', 's'), ('k', 'h', 's', 'a'), ('k', 'h', 's', 'a'), ('a', 'a', 'k', 's'), ('a', 'a', 'k', 'h'), ('a', 'a', 's', 'k'), ('a', 'a', 's', 'h'), ('a', 'a', 'h', 'k'), ('a', 'a', 'h', 's'), ('a', 'k', 'a', 's'), ('a', 'k', 'a', 'h'), ('a', 'k', 's', 'a'), ('a', 'k', 's', 'h'), ('a', 'k', 'h', 'a'), ('a', 'k', 'h', 's'), ('a', 's', 'a', 'k'), ('a', 's', 'a', 'h'), ('a', 's', 'k', 'a'), ('a', 's', 'k', 'h'), ('a', 's', 'h', 'a'), ('a', 's', 'h', 'k'), ('a', 'h', 'a', 'k'), ('a', 'h', 'a', 's'), ('a', 'h', 'k', 'a'), ('a', 'h', 'k', 's'), ('a', 'h', 's', 'a'), ('a', 'h', 's', 'k'), ('s', 'a', 'k', 'a'), ('s', 'a', 'k', 'h'), ('s', 'a', 'a', 'k'), ('s', 'a', 'a', 'h'), ('s', 'a', 'h', 'k'), ('s', 'a', 'h', 'a'), ('s', 'k', 'a', 'a'), ('s', 'k', 'a', 'h'), ('s', 'k', 'a', 'a'), ('s', 'k', 'a', 'h'), ('s', 'k', 'h', 'a'), ('s', 'k', 'h', 'a'), ('s', 'a', 'a', 'k'), ('s', 'a', 'a', 'h'), ('s', 'a', 'k', 'a'), ('s', 'a', 'k', 'h'), ('s', 'a', 'h', 'a'), ('s', 'a', 'h', 'k'), ('s', 'h', 'a', 'k'), ('s', 'h', 'a', 'a'), ('s', 'h', 'k', 'a'), ('s', 'h', 'k', 'a'), ('s', 'h', 'a', 'a'), ('s', 'h', 'a', 'k'), ('h', 'a', 'k', 'a'), ('h', 'a', 'k', 's'), ('h', 'a', 'a', 'k'), ('h', 'a', 'a', 's'), ('h', 'a', 's', 'k'), ('h', 'a', 's', 'a'), ('h', 'k', 'a', 'a'), ('h', 'k', 'a', 's'), ('h', 'k', 'a', 'a'), ('h', 'k', 'a', 's'), ('h', 'k', 's', 'a'), ('h', 'k', 's', 'a'), ('h', 'a', 'a', 'k'), ('h', 'a', 'a', 's'), ('h', 'a', 'k', 'a'), ('h', 'a', 'k', 's'), ('h', 'a', 's', 'a'), ('h', 'a', 's', 'k'), ('h', 's', 'a', 'k'), ('h', 's', 'a', 'a'), ('h', 's', 'k', 'a'), ('h', 's', 'k', 'a'), ('h', 's', 'a', 'a'), ('h', 's', 'a', 'k')]

In [8]:
from itertools import repeat
le='akash'
print(list(repeat('akash',5)))

['akash', 'akash', 'akash', 'akash', 'akash']

In [4]:
#class
class Student:
    def fun(self,name,age):
        self.name1=name
        self.age1=age
s1=Student()
s1.fun('arya',23)
print(s1.name1,)
print(s1.age1)

arya
23

In [5]:
class Hello:
    x=5
np=Hello()
print(np.x)

5

In [10]:
#init funtion
class Student:
    def __init__(self,name,age):
        self.name1=name
        self.age1=age
s1=Student('manu',21)
print(s1.name1)
print(s1.age1)
def display():
    print('name is:',s1.name1)
    print('age is:',s1.age1)

manu
21

In [ ]:
class Student:
    def __init__(self,name,age):
        self.name1=name
        self.age1=age
    def display(self)

In [3]:
#inheritance
class Vehicle:
    def __init__(self,name,colour,year):
        self.name=name
        self.colour=colour
        self.year=year
    def display(self):
        print('name is',self.name)
        print('colour is',self.colour)
        print('year is',self.year)
class car(Vehicle):
    def __init__(self,name,colour,year,brand):
        Vehicle.__init__(self,name=name,colour=colour,year=year)
        self.brand=brand
   # def display(self):
        print(self.name,self.colour,self.year,self.brand)
c1=car('alto','red',1980,'maruthi')
c1.display()

alto red 1980 maruthi
name is alto
colour is red
year is 1980

In [16]:
class Vegitable:
    def __init__(self,name,colour):
        self.name=name
        self.colour=colour
    def display(self):
        print('name is',self.name)
        print('colour is',self.colour)
class Carrot(Vegitable):
    def __init__(self,name,colour,typ):
        super().__init__(name,colour)
        self.typ=typ
    def display (self):
        print(self.name,self.colour,self.typ)
a1=Carrot('pottatto',"orange","root type")
a1.display()

pottatto orange root type

In [15]:
class Name:
    def __init__(self,fname,lname):
        self.firstname=fname
        self.lastname=lname
    def printname(self):
        return (self.firstname,self.lastname)
x=Name('shahala','sherin')
print(x.__dict__)

{'firstname': 'shahala', 'lastname': 'sherin'}

In [12]:
class India():
    def capital(self):
        print('new delhi is the capital of india')
    def language(self):
        print('hindhi is widely spoken language of india')
    def typee():
        print('india is a developing country')
class Usa():
    def capital(self):
        print('washington,dc is capital of usa')
    def language(self):
        print('english is the primary language')
    def typee():
        print('usa is developed country')
obj_india=India()
obj_usa=Usa()
for country in (obj_india,obj_usa):
    country.capital()
    country.typee()

new delhi is the capital of india

TypeError: typee() takes 0 positional arguments but 1 was given

In [13]:
class India():
    def capital(self):
        print('new delhi is the capital of india')
    def language(self):
        print('hindhi is widely spoken language of india')
    def typee(self):
        print('india is a developing country')
class Usa():
    def capital(self):
        print('washington,dc is capital of usa')
    def language(self):
        print('english is the primary language')
    def typee(self):
        print('usa is developed country')
obj_india=India()
obj_usa=Usa()
for country in (obj_india,obj_usa):
    country.capital()
    country.typee()

new delhi is the capital of india
india is a developing country
washington,dc is capital of usa
usa is developed country

In [ ]:
#super() command thanne aanu
class Student(person):
    def __init__(self,fname,lname):
        super().__init__(fname,lname)
        self.graduationyear=year

In [17]:
class Class1:
    def m(self):
        print('in Class1')
class Class2(Class1):
    def m(self):
        print('in Class2')
        super().m()
class Class3(Class1):
    def m(self):
        print('in Class3')
class Class4(Class3,Class2):
    pass
obj=Class4()
print(obj.m())

in Class3
None

In [17]:
a=int(input('enter a number'))
for i in range(a+1):
    for j in range(i+1):
        print(i+1,end=' ')
    print()

enter a number4
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5