In [1]:
def mydef(str1,str2):
    a=len(str1)
    b=len(str2)
    if a>b:
        print(a)
    elif a<b:
        print(b)
    else:
        print(a)
        print(b)
str1=input('enter a name')
str2=input('enter a name')
mydef(str1,str2)

enter a nameakash
enter a nameanooj
5
5

In [2]:
def newdef(int1):
    a=int1
    if a%2==0:
        print('number is even')
    else:
        print('number is odd')
int1=int(input('enter a number')) 
newdef(int1)

enter a number4
number is even

In [3]:
def di():
    a={}
    a[1]=1**2
    a[2]=2*2
    a[3]=3*3
    print(a)
di()

{1: 1, 2: 4, 3: 9}

In [10]:
def mydict():
    a={}
    
    for i in range(1,21):
        a[i]=i**2
    print(a)
mydict()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [29]:
def mydict():
    a={}
    for i in range(1,21):
        a[i]=i**2
    print(a.values())
    print(a.items())
mydict()

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400])
dict_items([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400)])

In [27]:
def mydict():
    a={}
    for i in range(1,21):
        a[i]=i**2
    print(a.keys())
mydict()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [43]:
def mylist():
    lis=[]
    for i in range(1,21):
        i=i**2
        lis.append(i)
    print(lis)
mylist()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [15]:
def mylist():
    li=[]
    for i in range(1,21):
        i=i**2
        li.append(i)
    print(li[-6:-1])
mylist()

[225, 256, 289, 324, 361]

In [16]:
def mylist():
    li=[]
    for i in range(1,21):
        i=i**2
        li.append(i)
    print(li[6::])
mylist()

[49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [21]:
def mytuple():
    tup=[]
    for i in range(1,21):
        i=i**2
        tup.append(i)
    print(tuple(tup))
mytuple()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)