In [2]:
a=int(input('enter a number'))
bc=int(str(a)[::-1])
if a==bc:
    print('number is palindrome')
else:
    print('not')

enter a number12321
number is palindrome

In [3]:
a=[]
for i in range (1,21):
    if i%2 ==0 and i%3 ==0:
        a.append(i)
print('divisible by 2 or 3')
for c in a:
    print(c)

divisible by 2 or 3
6
12
18

In [4]:
b=[]
for i in range(1,21):
    if i%2==0:
        b.append(i)
print ('divisible by 2:')
for two in b:
    print(two)

divisible by 2:
2
4
6
8
10
12
14
16
18
20

In [53]:
s=(input('enter a number'))
sum=0
for i in s:
    sum=sum+int(i)
print(sum)

enter a number1234
10

In [60]:
n=int(input('enter a number'))
for i in range(1,n+1):
    if n%i==0:
        print('divisor of',i)

enter a number10
divisor of 1
divisor of 2
divisor of 5
divisor of 10

In [61]:
a=5
for i in range(1,11):
    print(a,'*',i,'=',i*a)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [64]:
year=int(input('enter a year'))
if year%4==0:
    print('it is a leap year')
else:
    print('not')

enter a year2001
not

In [66]:
a=int(input('enter your centmeter value'))
inch=0.394*a
feet=0.0328*a
print('inch is',inch)
print('feet is ',feet)

enter your centmeter value10
inch is 3.9400000000000004
feet is  0.328

In [3]:
enter=(input('enter a number'))
sum=0
for i in enter:
    sum=sum+int(i)**3
    print(sum)
if enter==sum:
    print('armstrong number')
else:
    print('not')

enter a number153
1
126
153
not

In [22]:
sum=0
for i in range(1,11):
   
    sum=sum+i**3
print(sum)

3025

In [36]:
n=int(input('enter a number'))
a=[]
for i in range(1,n+1):
    if n%i==0:
        a.append(i)
print(min(a))

enter a number10
1

In [37]:
a=float(input('enter a value'))
fh=(a*1.8)+32
print('fahrnheit is',fh)

enter a value25.5
fahrnheit is 77.9

In [15]:
m=int(input('enter a number'))
for i in range(m):
    for j in range(i,m-1):
        print('*',end=" ")
    print()

enter a number6
* * * * *
* * * *
* * *
* *
*

In [11]:
n=int(input('enter a number'))
for i in range(n):
    for j in range(i+1):
        print('*',end=' ')
    print()

enter a number6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [45]:
a=float(input('enter a triangle value '))
b=float(input('enter a triangle value '))
c=float(input('enter a triangle value '))
d=(a+b+c)/2
area=(d*(d-a)*(d-b)*(d-c)) ** 0.5
print(area)

enter a triangle value 12
enter a triangle value 13
enter a triangle value 10
56.99506557588999

In [1]:
a=int(input('enter your amount'))
y=12
r=1.2
si=(a*y*r)/100
print('simple interst',si)

enter your amount1000
simple interst 144.0

In [5]:
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
quotient=a//b
remainder=a%b
print("Quotient is:",quotient)
print("Remainder is:",remainder)

Enter the first number: 3
Enter the second number: 5
Quotient is: 0
Remainder is: 3

In [6]:
x=int(input('enter a number'))
y=int(input('enter a number'))
print(x,y)
x,y=y,x
print('swapimg number is',x,y)

enter a number4
enter a number5
4 5
swapimg number is 5 4

In [7]:
n=int(input('enter a number'))
sum=0
for i in range(1,n+1):
    sum=sum+(1/i)
print('sum series',sum)

enter a number10
sum series 2.9289682539682538

In [10]:
n=int(input('enter a number'))
i=1
s=0
for i in range(1,n+1):
    s=s+1/i
print(s)

enter a number10
2.9289682539682538

In [7]:
x=input('enter a strig')
count=0
for i in x:
    count=count+1
print(count)

enter a strigaksh
4

In [9]:
word=input('enter a word')
count=0
char=1
for i in word:
    char=char+1
    if i==word:
        count=count+1
print('number of string and word',count,char)

enter a wordakas gd
number of string and word 0 8

In [12]:
new=input('enter any')
print(new)
new=new.replace('','_')
print(new)

enter anyakash gs
akash gs
_a_k_a_s_h_ _g_s_

In [14]:
de=input("enter string")
c=0
for i in de:
    if (i.islower()):
        c=c+1
print(c)

enter stringAKash
3

In [1]:
df=input("Enter string:")
v=0
for i in df:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
            v=v+1

print(v)

Enter string:akash
2

In [44]:
s=input('enter a strig')
s1=input('enter second string')
a=list(set(s)&set(s1))
for i in a:
    print(i)

enter a strigaksh
enter second stringaswanth
a
s
h

In [45]:
a=str(input('enter a word'))
if a==a[::-1]:
    print('palindrone')
else:
    print('not')

enter a wordmalayalam
palindrone

In [25]:
n1 = int(input("Enter first number: "))
n2 = int(input("Enter second number: "))

prod = n1 * n2

print("The product is:",prod)

Enter first number: 10
Enter second number: 12
The product is: 120

In [ ]:
p=int(input('enter a number'))
i=1
for j in range(1,t+1):