- Program to Find Numbers Divisible by Another Number

In [2]:
a=[*range(1,21)]
n=list(filter(lambda x:x%4==0,a))
print(n)

[4, 8, 12, 16, 20]

- program that prints the squares of numbers in a given list

In [3]:
b=[*range(2,21,2)]
n=list(map(lambda x:x**2,b))
print(n)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

- Create a function showEmployee() in such a way that it should accept employee name, and its salary and display both. If the salary is missing in the function call assign default value 9000 to salary

In [5]:
def employee(name,salary=9000):
    print(name)
    print(salary)
b=input('enter name')
employee(b,10000)
employee(b)

enter nameakas
akas
10000
akas
9000

1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).

In [30]:
b=[]
for i in range(2000,3200):
    if (i%7==0) and (i%5==0):
        b.append(i)
print(b)

[2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695, 2730, 2765, 2800, 2835, 2870, 2905, 2940, 2975, 3010, 3045, 3080, 3115, 3150, 3185]

2. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
Consider use dict()

In [34]:
a={}
for i in range(1,11):
    a[i]=i*i
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

3. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')
In case of input data being supplied to the question, it should be assumed to be a console input.
tuple() method can convert list to tuple

In [43]:
a=input('enter coma seperated numbers')
li=a.split(",")
tu=tuple(li)
print('list;',list(li))
print('tuple',tu)

enter coma seperated numbers1,2,3,4,5,6,7,89,
list; ['1', '2', '3', '4', '5', '6', '7', '89', '']
tuple ('1', '2', '3', '4', '5', '6', '7', '89', '')

5. Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

In [1]:
se=input('enter coma separated sequnece words')
a=se.split(',')
print(str(sorted(a)))

enter coma separated sequnece wordshello,wich,world,bag
['bag', 'hello', 'wich', 'world']

6. Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT

In [3]:
cap=str(input('enter a word'))
b=cap.upper()
print(b)

enter a wordhello world practice make perfection
HELLO WORLD PRACTICE MAKE PERFECTION

create a Simple Calculator using python

In [1]:
e=int(input('enter a number'))
f=int(input('second number'))
c=input('enter your opertor')
if c=='+':
    print(e+f)
elif c=='-':
    print(e-f)
elif c=='*':
    print(e*f)
elif c=='/':
    print(e/f)

enter a number5
second number5
enter your opertor*
25